.TopHeader {
    display: flex;
    justify-content: center;
    /* width: 60%;
    margin-left: auto;
    margin-right: auto; */
}

.ImagemTopHeader {
    width: 100%;
    min-width: 830px;
    max-width: 920px;
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 870px) {
    .ImagemTopHeader {
        display: none;
    }
}