.TopHeader {
    display: flex;
    justify-content: center;
}

.ImagemTopHeader {
    width: 100%;
    min-width: 830px;
    max-width: 920px;
    margin-left: 20px;
    margin-right: 20px;
}


/* Função para que a TopHeader suma quando a tela tiver um tamanho <= 870px */

@media only screen and (max-width: 960px) {
    .ImagemTopHeader {
        display: none;
    }
}