/* LAYOUT de linhas e colunas */

.resources-row {
    margin-top: 0px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.resources-col {
    padding: 0px 10px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}


/* LAYOUT dos cards */

.resources-card {
    margin-top: 20px;
    border: 1px solid #ED1C24;
    border-radius: 0.25rem;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.details-card {
    background-color: #F5F5F5;
    border-radius: 0.25rem;
}

.details-card h3 {
    padding-left: 20px;
    padding-top: 20px;
}

.details-card p {
    padding-left: 20px;
    padding-right: 20px;
}

/* Ícones das mídias */

.midia-icon {
    height: 40px;
    width: auto;
}

.icon-alignment {
    display: flex;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 760px) {
    .icon-alignment {
        display: flex;
        flex-direction: row;
    }
}

/* Botões */

.button {
    height: 35.6px !important;
    border: 0px !important;
    padding: 9.8px 12px !important;
    background-color: #ED1C24 !important;
}

.button:focus {
    box-shadow: none !important;
}

.button p {
    color: #ffffff !important;
    font-weight: 600 !important;
}

.button:hover {
    background-color: #000000 !important;
    transition-duration: 0.3s;
}

.scroll-to-top-button {
    position: fixed;
    right: 60px;
    bottom: 60px;
    background-color: #ED1C24;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 1000;
}

.scroll-to-top-button:hover {
    background-color: #000000;
    transition-duration: 0.6s;
}

.scroll-to-top-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 20px;
}