/* Botões */
.button {
    height: 35.6px !important;
    border: 0px !important;
    padding: 9.8px 20px !important;
    background-color: #ED1C24 !important;
}

.button:focus {
    box-shadow: none !important;
}

.button p {
    color: #ffffff !important;
    font-weight: 600 !important;
}

.scroll-to-top-button {
    position: fixed;
    right: 60px;
    bottom: 60px;
    background-color: #ED1C24;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.scroll-to-top-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}